.admin-container {
    justify-items: center;
    text-align: center;
    display: block;
    max-width: 960px;
    margin: 0 auto;
}
/* .SideMenuAndAdminContent {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
} */

.SideMenu {
    
}

.AdminContent {
    
}

