.home-container {
  justify-items: center;
  text-align: center;
  display: block;
}

.header-home {
  margin-top: 30px;
} 
.header-home .line-1 {
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: bold;
  color: var(--navyblue);
}
.header-home .line-2 {
  font-size: 1rem;
  margin-top: 0;
  font-weight: bold;
  color: var(--steelblue);
}
.first, .mid, .end {
  font-size: 5rem;
  margin-top: 0;
  font-weight: bold;
  color: var(--verdigris);
}
.home-content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.termsOfUse {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}
/* ------------- button ------------------- */
.button-wrapper {
  width: 30rem;
  text-align: center;
  display: inline-block;
}

.button {
  margin-top: 20px;
  cursor: pointer;
  height: 3rem;
  border: none;
  border-radius: 3px;   
  width: 20rem;
  font-size: 1.4rem;
}

.primaryBtn, .secondaryBtn {
  color: var(--white);
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}

.primaryBtn:hover, .secondaryBtn:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.primaryBtn {
  background-color: var(--teal);    
}

.secondaryBtn {
  background-color: var(--sapphireblue);
}


/* ----------------------------------------- */

@media screen and (max-width: 480px){
  .button-wrapper {
    width: 22rem;
    text-align: center;
    display: inline-block;
  }
  .first, .mid, .end {
    font-size: 4rem;
    margin-top: 0;
    font-weight: bold;
    color: var(--verdigris);
  }
  .button {
    margin-top: 20px;
    cursor: pointer;
    height: 3rem;
    border: none;
    border-radius: 3px;   
    width: 18rem;
    font-size: 1.2rem;
  }
}
