.lost-container {
  justify-items: center;
  text-align: center;
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.lost-header {
  color: var(--white);
  font-size: 24px;
  background-color: var(--teal);
  width: 80%;
  text-align: center;
  display: inline-flex;
  height: 3rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.lost-header2 {
  width: max-content;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.lost-search-left,.lost-filtter-right,.lost-filtter-right3 {
  margin-right: 10px;
}

.lost-content {
  justify-items: center;
  text-align: center;
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.header-1 {
  width: max-content;
  text-align: center;
  display: flex;
}

.searchText {
  width: 120px;
  font-family: "Prompt";
  margin-bottom: 10px;
}

.select-type {
  width: 150px;
}

.searchText {
  width: 400px;
  font-family: "Prompt";
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .select-type {
    width: 100px;
  }
  
  .searchText {
    width: 120px;
    font-family: "Prompt";
    margin-bottom: 10px;
  }
}

