.lost-container {
  justify-items: center;
  text-align: center;
  display: block;
}

.lost-header {
  color: var(--white);
  font-size: 24px;
  background-color: var(--teal);
  /* margin-left: 50px;
  margin-right: 50px; */
  width: 50rem;
  text-align: center;
  display: inline-flex;
  height: 3rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.lost-header2 {
  width: 50rem;
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
}

.lost-search-left {
  
}

.lost-filtter-right {
  justify-content: flex-end;
}