.second-container {
  justify-items: center;
  text-align: center;
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.second-header {
  color: var(--white);
  font-size: 24px;
  background-color: var(--sapphireblue);
  width: 80%;
  text-align: center;
  display: inline-flex;
  height: 3rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.second-header2 {
  width: max-content;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.second-search-left,.second-filtter-right,.second-filtter-right3 {
  margin-right: 10px;
}

.second-content {
  justify-items: center;
  text-align: center;
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.header-sell-1 {
  width: max-content;
  text-align: center;
  display: flex;
}

.select-type {
  width: 150px;
}

/* .searchText {
  width: 400px;
  font-family: "Prompt";
  margin-bottom: 10px;
} */

@media screen and (min-width: 390px) and (max-width: 465px){
  .select-type {
    width: 90px;
  }
  
  .searchText {
    width: 100px;
    font-family: "Prompt";
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 466px) and (max-width: 920px) {
  .select-type {
    width: 100px;
  }
  
  .searchText {
    width: 120px;
    font-family: "Prompt";
    margin-bottom: 10px;
  }
}


