.button {
    margin-top: 20px;
    cursor: pointer;
    height: 35px;
    border-radius: 3px;    

}

.primaryBtn {
    background-color: var(--green);
    text-align: center;
    
}

.secondaryBtn {
    background-color: var(--orange);
}