.dialog-style {
    /* width: 960px; */
    max-width: max-content;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: var(--white);
    padding: 10px 20px 40px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    border: 2px solid #e72214;
}

.dialog-closeButtonStyle {
    margin-bottom: 15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
    background-color: var(--white);
    color: #000000;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}

.text-dialog-header {
    text-align: left;
    font-weight: bold;
    color: #e72214;
    text-decoration: underline;
}

.dialog-content {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.text-dialog {
    text-align: left;
    font-weight: bold;
    color: #e72214;
}

/* --------------- responsive 390px-465px --------------- */

@media screen and (min-width: 390px) and (max-width: 465px) {
    .dialog-style{
        width: 300px;
        font-size: 16px;
    }
}

/* --------------- responsive 466px-480px --------------- */

@media screen and (min-width: 466px) and (max-width: 480px) {
    .dialog-style{
        width: 300px;
        font-size: 16px;
    }
}






