.editpassword-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
}
.editpasswordInput {
    margin-top: 10px;
    width: 18rem;
    height: 2rem;
    border-radius: 3px;
    border: solid 1px var(--gray91);
    font-size: 18px;
}
.editpasswordInput:focus{
    outline-color: var(--skyblue);
}

.editconfirm-btn {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    width: 6rem;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.editconfirm-btn:hover {
    background-color: brown;
}