.editpassword-container {
    align-items: center;
    text-align: center;
    display: flex;
    max-width: max-content;
    margin: 25px auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.box-buttom {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}

.refresh {
    background-color: var(--black);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: var(--white);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.refresh:hover {
    background-color: var(--white);
    border: 1px solid black;
    color: var(--black);
}