div.ant-space-item {
    justify-content: center;
    align-items: center;
}
.editpassword-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.editpasswordInput {
    display: flex;
    justify-content: center;
    align-items: center;
}