.select-content {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.text-error {
    margin-top: 20px;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
} 
.selected-content, .input-content {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.showData-content {
    /* border: 1px solid var(--black);
    height: 300px; */
}
