.lost {
  border-radius: 3px;
  background-color: var(--seafoam);
  font-size: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}

.lost-1 {
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.lost-2 {
  height: 50px;
  align-items: center;
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.lost-3 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.lost3-left {
  margin-top: 10px;
}

.lost3-right-top {
  display: block;
  border-bottom: 1px solid var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

@media screen and (min-width: 390px) and (max-width: 466px){
  .lost {
    font-size: 14px;
  }
}

@media screen and (min-width: 466px) and (max-width: 920px) {
  .lost {
    font-size: 16px;
  }
}
