@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background: #FFFFFF;
  --green: #3ae98d;
  --orange: #ffb364;
  --white: #FFFFFF;
  --gray: #f7f7f7;
  --red: #ff1100;
  --gray91: #999999;
  --black: #000000;
  --verdigris: #40B5AD;
  --teal: #008080;
  --steelblue: #4682B4;
  --skyblue: #87CEEB;
  --seafoam: #9FE2BF;
  --sapphireblue: #0F52BA;
  --robineggblue: #96DED1;
  --powerblue: #e0f2ff;
  --pastelblue: #A7C7E7;
  --navyblue: #000080;
  --lightblue: #ADD8E6;
  --glaucous: #6082B6;
  --denim: #6F8FAF;
  --yellow: #BFDB38;
}

* {
  font-family: 'Prompt', sans-serif;
}

body {
  background-color: var(--gray);
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
